{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}
{% block body %}
    <div class="box-title-serie-one">
        <p class="title-serie-one">
            Saison {{ season.number }} de {{ program.title }} - {{ season.year }}
        </p>
    </div>
    <p class="describe-serie">{{ program.summary }}</p>
    {% for numberSeries in episode %}
        <a href="/wild/show/program/episode/{{ numberSeries.id }}" class="episode-list">{{ numberSeries.title }}</a>
    {% endfor %}
{% endblock %}