{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}{% endblock %}
{% block body %}
    <div class="box-title-serie-one">
        <p class="title-serie-one">
            Saison {{ season.number }} de {{ program.title }} : {{ episode.title }}
        </p>
    </div>
    <p class="text-syno">{{ episode.synopsis }}</p>
    <h1 class="h1_comment">Commentaires</h1>
    {% for comment in comments %}
        <div class="comment-box">
           <p class="comment-text"> {{ comment.comment }}</p>
            <p> Rate: {{ comment.rate }}</p>
            {% if app.user == comment.author %}
                <form method="post" action="{{ path('program_delete', {'id': comment.id}) }}" onsubmit="return confirm('Confirmez-vous la supression de ce commentaire?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
                    <button class="btn btn-danger">Supprimer mon commentaire</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}
    {% if app.user %}
        {{ form_start(form) }}
        {{ form_widget(form.comment) }}
        {{ form_widget(form.rate) }}
        <button type="submit" name="submit">Poster le commentaire</button>
        {{ form_end(form) }}
    {% endif %}


{% endblock %}